@import 'colors', 'sizes';

#pageNumbers {
  margin-bottom: -2rem;
  padding-left: 1rem;
  z-index: 999;
}

button {
  box-sizing: content-box;
  height: $medium;
  min-width: $medium;
  background-color: $color;
  font-weight: 800;
  border: none;
  border-bottom: $color-light solid 3px;
}

.button-folder {
  background-color: $color-2;
}

#a-settings {
  font-weight: 400;
  background-color: $color-light;
}
