@import 'colors', 'sizes', 'textcrop' ;

#center {
  display: flex;
  max-width: 30rem;
  overflow: hidden;
  //grid-area: center;
  grid-column: 3 / span 2;
  grid-row: 2 / 4;
  flex-direction: column;
  box-sizing: border-box;
  //border-top: transparent solid $small;
  border-right: $color-bg solid $small;
  padding-left: 1rem;
//  background-color: white;
  z-index: 2;
}

#grid {
  display: grid;
  grid-template-columns: auto 1fr 3fr 2fr;
  grid-template-rows: $extraLarge calc(100vh - #{$extraLarge} - #{$large}) $large;
    grid-template-areas: 
    "title top top right"
    "left empty center right"
    "bottom bottom center right ";
}

#border-right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top: $color-bg solid $extraLarge;
  border-bottom: $color-bg solid $large;
  box-sizing: border-box;
  height: 100vh;
}

#top {
  grid-area: top;
  background-color: $color-bg;
  box-sizing: border-box;
  border-bottom: $color-bg solid $small;
  display: flex;
  align-items: flex-start;
  padding-top: $medium;
  justify-content: flex-end;
  gap: $small;
  div {
    width: $large;
    background-color: transparent;
    font-weight: 800;
  }
}

#border-left {
  display: flex;
  grid-area: left;
  flex-direction: column;
  box-sizing: border-box;
  width: 10rem; //20rem
  background-color: $color-bg;
  border-right: $color-bg solid $medium;
  border-left: $color-bg solid $small;
  border-top: $color-bg solid $small;
}

#bottom {
  //grid-area: bottom;
  grid-area: title;
  //grid-column: 1 / span 2;
  //grid-row: 3 / 4;
  //background-color: $color-dark;
  //background-color: none;
  box-sizing: border-box;
  //border-top: 0.3rem solid $color-light;
  //border-top: 0.3rem solid transparent;
  z-index: 1;
}

#title-content {
  @include text-crop;
  align-self: flex-start;
  margin: 0;
  font-size: $small;
  font-weight: 700;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $color-bg;
  border-left: $color-bg solid $small;
  
}

.aside {
  display: inline-block;
  position: fixed;
  right: calc((100vw - 21rem) / 3);
  width: 0rem;
  z-index: -1;
}

#bottom-content {
 display: flex; 
 justify-content: flex-start;
 gap: $small;
 padding-right: $small;
 padding-left: $small;
 padding-top: $medium;
// background-color: $color-dark;
}

.picture {
  position: fixed;
  bottom: $large;
  left: 1rem;
}

#picContainer {
  display: flex;
  flex-direction: column;
}

#svgcontainer2 {
  position: fixed;
  height: $extraLarge;
  display: flex;
  flex-direction: column;
  div {
  }
}
#line-over {
  height: $small;
}
#line-under {
  height: $medium;
}
