@import 'sizes';

#svgcontainer2 {
  position: fixed;
  height: $extraLarge;
  width: 100%;
  display: flex;
  flex-direction: column;
  div {
  }
}
#line-over {
  height: $small;
}
#line-under {
  height: $medium;
}

object {
  width: 100%;
}
