<div id="topics" x-cloak x-data="{ open: false }" @mouseleave="open = false;">
    <button id="a-settings" x-text="sel.replace(/.*\//,'').replace(/-C$/,'')" @mouseover="open = true"
        @click="open = ! open; sel = $store.selection; myfetch('/html/topics/start.html');"></button>
    <div x-show="open">
        <button id="menu-web" @click="open = false; $store.selection = 'topics/web'; sel = $store.selection; myfetch('/html/topics/web.html');">web</button>
        <button class="button-folder" id="menu-progr" @click="open = false; $store.selection = 'topics/progr'; myfetch('/html/topics/progr.html');">progr</button>
        <button class="button-folder" id="menu-math" @click="open = false; $store.selection = 'topics/progr'; myfetch('/html/topics/math.html');">math</button>
    </div>
</div>

<div x-cloak id="settings" x-data="{ open: false,
    left: false,
    setLeft: (a) => {

      if (a == true) {
      document.getElementById('center').classList.add('settings-left')
      myfetch(`/html/topics/${$store.selection}.html`)
    } else {
      document.getElementById('center').classList.remove('settings-left')
      myfetch(`/html/topics/${$store.selection}.html`)
    }
  },
    setNormal: () => {
      document.getElementById('center').classList.remove('settings-left')
      myfetch(`/html/topics/${$store.selection}.html`)
    }
  }" @mouseleave="open = false">
    <button id="b-settings" @mouseover="open = true" @click="setNormal();"></button>
    <div x-show="open">
        <button id="settings-left" @click="left = ! left; setLeft(left);">left</button>
    </div>
</div>
