doctype html
html(lang="en")
 head
  meta(charset="utf-8")
  | {{> head }}
 body( x-data="{ sel: $persist($store.selection).using(sessionStorage)}" @keyup.space="$store.moveUp.move()")
  | {{> functions }}
  #svgcontainer2
   | {{> line }}
  #grid
   #title
    #title-content
   #top
    | {{> menu }}
   #border-left
   #center
    | {{> start-C }}
   #border-right
    #pageNumbers
     span#pageNumberCounter 1
     span /
     span#pageNumberTotal 1
   #bottom
    #bottom-content
     button#button-scroll down
     button#button-start top
     button#button-up up
  | {{> after }}
  script(type="module" src="./index.js")



