doctype html
html(lang="en")
 head
  meta(charset="utf-8")
  include head.html
 body
  #svgcontainer2
   include html/line.html
  #grid
   #title
    #title-content
   #top
   #border-left
   #center
    include markdown/html/base.html
   #border-right
    #pageNumbers
     span#pageNumberCounter 1
     span /
     span#pageNumberTotal
   #bottom
    #bottom-content
     button#button-scroll scroll down
     button#button-start scroll start
     button#button-up scroll up
  include html/after.html
  script(src="./alpine.js" defer)
  script(type="module" src="./index.js")

