doctype html
html(lang="en")
 head
  meta(charset="utf-8")
  include head.html
 body
  include html/functions.html
  #svgcontainer2
   include html/line.html
  #grid
   #title
    #title-content
   #top
    include html/menu.html
   #border-left
   #center
    include html/markdown/start-C.html
   #border-right
    #pageNumbers
     span#pageNumberCounter 1
     span /
     span#pageNumberTotal 1
   #bottom
    #bottom-content
     button#button-scroll down
     button#button-start top
     button#button-up up
  include html/after.html
  script(type="module" src="./index.js")
  script(src="./alpine.js" defer)



